.footer {
    background-color: #fff;
    color: var(--black-color);
    padding: 3rem 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    animation: fadeInUp 1s ease;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  
  
  .footer-section {
    margin-right: 3rem;
    margin-bottom: 2rem;
  }
  
  .newsletter-form {
    display: flex;
    margin-top: 1rem;
  }
  
  .newsletter-form input {
    padding: 0.5rem;
    border: 1px solid var(--black-color);
    border-radius: 4px;
    margin-right: 1rem;
  }
  
  .newsletter-form button {
    background-color: var(--purple-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .newsletter-form button:hover {
    background-color: #9649d1;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
  }
  
  .footer-links li {
    margin-bottom: 0.5rem;
  }
  
  .footer-links a {
    color: var(--black-color);
    text-decoration: none;
    transition: var(--transition);
  }
  
  .footer-links a:hover {
    color: var(--purple-color);
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-icon {
    font-size: 1.8rem;
    color: var(--black-color);
    transition: var(--transition);
  }
  
  .social-icon:hover {
    color: var(--purple-color);
  }
  